.bodyflexitems{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
    background-image: url("got.jpg");

  /* Full height */
  height: 100; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card{
    background-image: linear-gradient(to right, orange , white);
}