.fullscreen{
    display: flex;
    width: 2300px;
    align-content: center;
}

.image2{
    background-image: url("./selectedcolor2.jpg");
    background-size: contain;
    /* Full height */
    height: 100vh; 
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
